<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Tanumon Roy. It uses data from mapbox.com and weatherstack.com</p>
    </div>
    {{>footer}}
</body>

</html>