<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{msg}}</p>
        <h1>I LOVE YOU SIM!!!</h1>
    </div>
    {{>footer}}
</body>

</html>