body {
   color: #ffffff;
   font-family: Arial, Helvetica, sans-serif;
   max-width: 50%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-image: url("../img/clouds_sky_cloudy_175636_1600x900.jpg");
}

.main-content {
   flex-grow: 1;
   background-color: rgba(0, 0, 0, 0.5);
   padding: 20px;
}

footer {
   padding: 10px;
   border-top: 1px solid #cccccc;
   background-color: rgba(41, 128, 185, 0.5);
}

footer h2 {
   margin-left: 20px;
}

header {
   background-color: rgba(41, 128, 185, 0.5);
   border-radius: 10px;
   margin-bottom: 20px;
   font-size: 120%;
   padding: 20px;
}

h2 {
   font-weight: 200;
}

a {
   margin-right: 20px;
}

a:link,
a:visited {
   text-decoration: none;
   color: #ffffff;
   border-bottom: 1px solid transparent;
   transition: border-bottom 0.2s;
}

a:hover,
a:active {
   border-bottom: 1px solid #ffffff;
}

p {
   font-size: 120%;
}

input {
   font-size: 130%;
   border-radius: 5px;
}

button {
   font-size: 130%;
   border-radius: 5px;
   background-color: rgba(41, 128, 185, 1);
   color: #ffffff;
}

ion-icon {
   margin-left: 30px;
}
