body {
  color: #555555;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  padding: 20px;
  border-top: 1px solid #cccccc;
}

header {
  margin: 20px 0;
  font-size: 120%;
}
